{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="content">
            <h1>404 - Seite nicht gefunden :(</h1>
            <p>
                Die angeforderte Seite konnte leider nicht gefunden werden. Vielleicht ist der Link fehlerhaft?
                Treten die Probleme weiterhin auf?
                <br><br>
                <a class="button is-light" href="{{Config.Contact.FeedbackForm}}" target="_blank">Fehler melden</a> 
            </p>
            <p>
                Folgende Inhalte gibt es auf dieser Webseite:
            </p>
            <ul>
                <li>
                    <a href="{{BasePath "/"}}">Eine Liste regionaler Laufveranstatungen</a>
                </li>
                <li>
                    <a href="{{BasePath "/lauftreffs.html"}}">Eine Liste regionaler Lauftreffs und Laufgruppen</a>
                </li>
                <li>
                    <a href="{{BasePath "/shops.html"}}">Eine Liste regionaler Geschäfte mit Laufsportbezug</a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{template "footer.html" .}}