{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">Dietenbach parkrun - Karte, Ergebnisse, Laufberichte, Fotogalerien</h1>

        <div class="columns">
            <div class="column">
                <div class="notification is-link is-light content">
                    Zu jedem Laufevent des <a href="https://www.parkrun.com.de/bahnstadtpromenade/" target="_blank">Dietenbach parkrun</a> gibt es neben der Ergebnisliste auch einen Laufbericht und eine Fotogalerie.
                    Auf der parkrun-Hauptseite sind diese sehr schwer zu finden - deshalb liste ich alle Berichte und Fotogalerien hier auf.
                    <br /><br />
                    <b>Interessante Links:</b>
                    <ul>
                        <li><a href="https://running.flopp.net/2023/01/29/parkrun-barcode-auf-der-garmin-uhr/" target="_blank">Anleitung: Wie bekomme ich den parkrun-Barcode auf meine Garmin-Uhr?</a></li>
                        <li><a href="https://parkrun.flopp.net/" target="_blank">Karte mit allen deutschen parkruns (inoffiziell)</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="map-container" data-type="parkrun">
            <button id="map-show-btn" class="button is-primary">Karte zum Dietenbach parkrun einblenden</button>
            <button id="map-hide-btn" class="button is-danger is-hidden">Karte ausblenden</button>
        </div>

        <table class="table is-fullwidth is-narrow">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="is-hidden-mobile">Datum</th>
                    <th class="is-hidden-mobile">Teilnehmer</th>
                    <th class="is-hidden-mobile">Temp</th>
                    <th class="is-hidden-mobile">Café</th>
                    <th>Spezial</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {{range .Data.ParkrunEvents}}
                <tr {{if .IsCurrentWeek}}class="parkrun-event is-selected is-link has-text-white"{{else}}class="parkrun-event"{{end}}>
                    <td>
                        <span class="is-hidden-mobile">
                            {{.Index}}
                        </span>
                        <span class="is-hidden-tablet">
                            #{{.Index}}<br>
                            <span class="is-size-7">{{.Date}}</span>{{if .IsCurrentWeek}}<br><span class="is-size-7">(aktuell)</span>{{end}}
                        </span>
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Date}}{{if .IsCurrentWeek}}<br>(aktuell){{end}}
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Runners}}
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Temp}}
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Cafe}}
                    </td>
                    <td data-label="Spezial">
                        <span class="is-hidden-mobile">
                            {{.Special}}
                        </span>
                        <span class="is-hidden-tablet">
                            {{if .Special}}
                            {{.Special}}
                            <br>
                            {{end}}
                            {{if .Runners}}
                            <span class="is-size-7">Teilnehmer: {{.Runners}}</span>
                            <br>
                            {{end}}
                            {{if .Temp}}
                            <span class="is-size-7">Temperatur: {{.Temp}}</span>
                            {{end}}
                            {{if .Cafe}}
                            <span class="is-size-7">Café: {{.Cafe}}</span>
                            {{end}}
                        </span>
                    </td>
                    <td>
                        <div class="is-flex is-flex-direction-column">
                            {{if .Results}}
                            <a class="no-external" href="{{.Results}}" target="_blank" title="Ergebnisse #{{.Index}}">Ergebnisse</a>
                            {{end}}
                            {{if .Report}}
                            <a class="no-external" href="{{.Report}}" target="_blank" title="Laufbericht #{{.Index}}">Bericht{{if .Author}} ({{.Author}}){{end}}</a>
                            {{end}}
                            {{if .Photos}}
                            <a class="no-external" href="{{.Photos}}" target="_blank" title="Fotogalerie #{{.Index}}">Fotos</a>
                            {{end}}
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</section>

{{template "footer.html" .}}