{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">Datenschutzerklärung</h1>

        <div class="content">
        <h2>1. Datenschutz</h2>
        <p>
            Als Betreiber dieser Webseite nehmen wir den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
            <br /><br />
            Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
            <br /><br />
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
        </p>

        <h2>2. Cookies & Local Storage</h2>
        <p>
            Die Webseite verwendet keine Cookies und/oder Local Storage.
        </p>
        
        <h2>3. Server-Log-Files</h2>
        <p>
            Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Die Log Files werden automatisch nach 7 Tagen gelöscht. Die Information sind:
        </p>
        <ul>
            <li>Browsertyp und Browserversion</li>
            <li>verwendetes Betriebssystem</li>
            <li>Referrer URL</li>
            <li>pseudonymisierte IP-Addresse des zugreifenden Rechners</li>
            <li>Uhrzeit der Serveranfrage</li>
        </ul>
        <p>
            Insbesondere durch die Pseudonomisierung der IP-Addressen sind diese Daten nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
        </p>
        
        <h2>4. SSL-Verschlüsselung</h2>
        <p>
            Die Webseite verwendet aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, grundsätzlich eine SSL-Verschlüsselung. Dadurch können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
        </p>
        
        <h2>5. Recht auf Auskunft, Löschung, Sperrung</h2>
        <p>
            Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im <a href="{{BasePath "impressum.html"}}">Impressum</a> angegebenen Kontaktdaten an uns wenden.
        </p>
        
        <h2>6. Karten-Ebenen-Betreiber</h2>
        <p>
            Wir binden Karten-Ebenen von folgenden Drittanbietern ein:
        </p>
        <ul>
            <li><a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a></li>
        </ul>
    </div>
    </div>
</section>

{{template "footer.html" .}}