<!DOCTYPE html>
<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="{{.Canonical}}" />

        {{range .CssFiles}}
        <link rel="stylesheet" href="{{BasePath .}}"/>
        {{end}}

        <script defer src="/{{.Umami.Url}}" data-website-id="{{.Umami.Id}}"></script>
    </head>
    <body>

<table id="embed-list" class="table">
{{if .Events}}
{{range .Events}}
<tr><td>
    <a class="has-text-weight-bold" href="https://heidelberg.run/{{.Slug}}" target="_blank">{{.Name.Orig}}</a><br>
    {{if .Cancelled}}<span style="color: red;">{{.Status}}</span><br>{{end}}
    {{.Time.Formatted}}<br>
    {{.Location.Name}}
</td></tr>
{{end}}
{{else}}
<tr><td>Keine passenden Veranstaltungen gefunden</td></tr>
{{end}}
<tr><td class="is-italic">
Bereitgestellt durch <a href="https://heidelberg.run" target="_blank">heidelberg.run</a><br>
Letzte Aktualisierung: <span class="timestamp">{{.TimestampFull}}</span>
</td></tr>
</table>

{{range .JsFiles}}
<script src="{{BasePath .}}"></script>
{{end}}
   </body>
</html>