{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>
        
        
        <div class="notification is-link is-light is-flex">
            <img class="is-hidden-mobile mr-4" style="width:128px; max-width:128px; height:128px" src="{{BasePath "/images/heidelberg-run-new.svg"}}" alt="{{Config.Website.Name}} Logo">
            <div>
                Liste von {{.CountEvents}} <b>aktuellen und zukünftigen</b> Laufveranstaltungen, Wettkämpfen, Volksläufen im Raum {{Config.City.Name}} (~50km Umkreis), sortiert nach Datum.
                <br />
                <br />
                <a href="{{BasePath "/events-old.html"}}">Hier geht's zur Liste der vergangenen Veranstaltungen.</a>
            </div>
        </div>

        {{template "controls.html" .}}

        <div class="columns is-multiline">
            {{range .Data.Events}}
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}