{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-light is-danger">
            Achtung: Dies ist eine Liste von <b>vergangenen</b> Laufveranstaltungen, Wettkämpfen, Volksläufen im Raum {{Config.City.Name}} (~50km Umkreis), umgekehrt sortiert nach Datum.
            <br />
            <br />
            <a class="button is-light" href="{{BasePath "/"}}">Aktuelle Veranstaltungen</a>
            {{range .Years}}
            <a class="button is-light" href="{{BasePath .Url}}">{{.Name}}</a>
            {{end}}
        </div>

        {{template "controls.html" .}}

        <div class="columns is-multiline">   
            {{range .Events}}
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}