{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-link is-light">
            Liste von Lauftreffs, Laufgruppen, Trainingsgruppen, Social Runs im Raum {{Config.City.Name}} (~50km Umkreis).
            <br />
            <br />
            Hinweis: Bevor man zum ersten Mal einen der Lauftreffs besucht, am Besten vorher den Veranstalter für Details kontaktieren. 
        </div>

        {{template "controls.html" .}}

        <div class="columns is-multiline">   
            {{range .Data.Groups}}
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}
