{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">Impressum</h1>
        <h2 class="subtitle">
            Angaben gemäß §5 TMG:
        </h2>
        <div class="box">
            Sven Giegerich<br />
            69115 Heidelberg<br /><br />
        </div>

        <h2 class="title">Haftungshinweis</h2>
        <div class="content">
        <p>
            Die Informationen auf dieser Website wurden sorgfältig zusammengestellt und geprüft.
            Der Betreiber übernimmt trotzdem weder ausdrücklich noch stillschweigend eine Gewährleistung für die Richtigkeit, Aktualität oder Vollständigkeit des Inhalts dieser Seiten, es sei denn, anwendbare Gesetze schreiben zwingend eine Haftung vor.
            Eine Haftung durch den Betreiber für Schäden, die aus der Nutzung der auf dieser Website angebotenen Informationen entstehen, ist – soweit gesetzlich zulässig – ausgeschlossen.
            Ebenfalls wird für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Computerviren oder bei der Installation oder Nutzung von Software verursacht werden, nur im Rahmen der gesetzlichen Bestimmungen gehaftet.
        </p>
        <p>
            Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Betreiber keine Haftung für die Inhalte externer Links.
            Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            Es wird daher keine Verantwortung für die Verfügbarkeit oder den Inhalt solcher Seiten übernommen und keine Haftung für Schäden, die aus der Nutzung solcher Inhalte entstehen.
        </p>
        </div>
    </div>
</section>

{{template "footer.html" .}}