{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="content">
            <figure class="image is-square" style="width: 20em">
                <img src="{{BasePath "/images/heidelberg-run-blue.svg"}}" />
            </figure>

            <h1>Warum diese Webseite?</h1>
            <p>
                Oft sind viele Leute nicht über lokale Laufveranstaltungen informiert.
                Meist sind nur die ganz großen Events, wie z.B. der Heidelberger Halbmarathon, bekannt.
                Dabei gibt es ein vielfältiges Angebot von ganz unterschiedlichen Veranstaltungen: kleine Dorfläufe, naturnahe Trail-Running-Events, kompetitive Cross-Läufe - für jeden ist etwas Passendes dabei.
                Leider listen die großen Laufkalender-Plattformen (runme & co.)
                nur wenige dieser lokalen Veranstaltungen, oder die
                Informationen sind unvollständig oder veraltet.
                
                <br /><br />
                Mit <strong>heidelberg.run</strong> möchte ich diese Lücke
                schließen. Die Webseite soll als Anlaufstelle für alle
                Laufbegeisterten in der Region dienen. Im schönsten Fall endeckt
                man so einen bis-dato unbekannten Lauf für sich oder schaut bei
                einer der Lauftreffes vorbei.
                Das Projekt ein Herzensprojekt und nicht-kommerziell
                angelegt. 

                Falls du eine Veranstaltung kennst, die hier noch fehlt, freue
                ich mich total über eine Nachricht. Genauso falls mal etwas 
                nicht stimmt oder veraltet sein sollte.

                <br /><br />
                Grüße Sven
            </p>

            <h2>Technisches & Dank</h2>
            <p>
                <strong>heidelberg.run</strong> existiert nur dank dem Projekt
                <a href="https://freiburg.run" target="_blank">freiburg.run</a>
                von Florian Pigorsch, der den Quellcode als Open Source
                veröffentlicht hat. Dadurch war es möglich eine ähnliche Seite
                für die Region Heidelberg zu erstellen.

                Für weitere Infos schaut mal in Freiburg vorbei!
            </p>
        </div>
    </div>
</section>

{{template "footer.html" .}}