{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-link is-light">
            Liste von Sportgeschäften mit Laufschuhauswahl im Raum {{Config.City.Name}} (~50km Umkreis).
        </div>

        {{template "controls.html" .}}

        <div class="columns is-multiline">   
            {{range .Data.Shops}}   
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}
