{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="content">
            <h1>heidelberg.run unterstützen?</h1>
            <p>
                Wenn dir <i>heidelberg.run</i> gefällt und von Nutzen ist, kannst du die Webseite auf verschiedene Arten unterstützen:
            </p>
            <b>Spread the Word!</b>
            <p>
                Weise deine Freunde und Lauf-Kollegen auf <i>heidelberg.run</i> hin, teile Links zu <i>heidelberg.run</i> auf Social Media oder verlinke die Seite auf deiner Webseite oder in deinem Blog. 
            </p>
            <b>Melde neue Events und Korrekturen</b>
            <p>
                Hast du von einer neuen Laufveranstaltung oder Lauftreff erfahren, oder hast du einen Fehler auf <i>heidelberg.run</i> gefunden? Hier sind einige <a class="close" href="/info.html#kontakt">Kontaktmöglichkeiten</a>.
            </p>
            <b>Mach Verbesserungsvorschläge</b>
            <p>
                Du hast einen Verbesserungsvorschlag oder eine Idee für ein neues Feature für <i>heidelberg.run</i>? <a class="close" href="/info.html#kontakt">Melde dich gerne</a>.
            </p>
            <b>Werfe ein paar Euros in den Hut</b>
            <p>
                Die Idee für diese Seite und der Code kommt aus Freiburg,
                genauer von Florian Pigorsch. Wenn du ihn unterstützen möchtest,
                geht das am einfachsten per Paypal <a
                href="https://paypal.me/FPigorsch"
                target="_blank">paypal.me/FPigorsch</a>.
            </p>
        </div>
    </div>
</section>

{{template "footer.html" .}}