{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-link is-light">
            <p class="block">
                Liste von Laufveranstaltungen, Lauf-Wettkämpfen, Volksläufen im Raum {{Config.City.Name}}, die in die <b>Kategorie '{{.Tag.Name.Orig}}'</b> einsortiert sind.
            </p>
{{if .Tag.Description}}
            <p class="block is-italic">
                {{.Tag.Description}}
            </p>
{{end}}
            <p class="block">
                <a href="{{BasePath "/tags.html"}}">Hier geht's zur Liste <b>aller</b> Kategorien.</a>
            </p>
        </div>

        {{template "controls.html" .}}

{{if .Tag.Events}}
        <div class="columns is-multiline">
            {{range .Tag.Events}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}

{{if .Tag.Groups}}
        <h2 class="title">Lauftreffs / Laufgruppen</h2>

        <div class="columns is-multiline">
            {{range .Tag.Groups}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}

{{if .Tag.Shops}}
        <h2 class="title">Lauf-Shops</h2>

        <div class="columns is-multiline">
            {{range .Tag.Shops}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}

{{if .Tag.EventsOld}}
        <h2 class="title">Vergangene Laufveranstaltungen</h2>
        <div class="notification is-link is-light">
            In umgekehrt chronologischer Reihenfolge.
        </div>

        <div class="columns is-multiline">
            {{range .Tag.EventsOld}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}
    </div>
</section>

{{template "footer.html" .}}