{{if .IsSeparator}}
<div class="column is-full event-separator">
    <div class="notification is-link is-light pt-2 pb-2 pl-4">{{.Name.Orig}}</div>
</div>
{{else}}
<div class="column is-half event" data-type="{{.NiceType}}" data-name="{{.Name.Orig}}" data-time="{{.Time.Formatted}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}" data-ics="{{.Calendar}}" data-googlecal="{{.CalendarGoogle}}">
    {{if .Special}}
    <div class="card pulsating-border" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    {{else}}
    <div class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    {{end}}
        <header class="card-header is-flex-direction-column">
            {{if .Cancelled}}
            <a class="button is-danger has-text-white is-fullwidth is-radiusless button-wrap" href="{{BasePath .Slug}}" itemprop="item">
                <span class="icon"><i class="info-icon"></i></span>
                <span itemprop="name">{{.Name.Orig}}</span>
            </a>
            <a class="button is-danger has-text-white is-small is-fullwidth is-radiusless" href="{{BasePath .Slug}}">
                <span>(abgesagt)</span>
            </a>
            {{else}}
            <a class="button is-link is-fullwidth is-radiusless button-wrap" href="{{BasePath .Slug}}" itemprop="item">
                <span class="icon"><i class="info-icon"></i></span>
                <span itemprop="name">{{.Name.Orig}}</span>
            </a>
            {{end}}
        </header>
        <div class="card-content">
            <div class="content">
                <table class="table is-narrow is-fullwidth">
                    {{if .Status}}<tr class="has-background-warning-light"><th class="w-2em no-border" title="Status">⚠️</th><td class="no-border">{{.Status}}</td></tr>{{end}}
                    {{if .Time.Formatted}}<tr><th class="w-2em no-border" title="Datum">📅</th><td class="no-border">{{.Time.Formatted}}{{if .Old}} <span class="has-text-danger">(Vergangenes Event)</span>{{else}}{{if .Calendar}} <div class="calendar-button" data-calendarfile="{{.Calendar}}" data-calendar="{{.CalendarDataICS}}" data-googlecal="{{.CalendarGoogle}}"></div>{{end}}{{end}}</td></tr>{{end}}
                    <tr>
                        <th class="w-2em no-border" title="Ort">🗺</th>
                        <td class="no-border">
                        {{if .Location.HasGeo}}<a href="{{.Location.GoogleMaps}}" title="{{$.Name.Orig}}: {{.Location.Name}}" target="_blank">{{.Location.Name}}</a> (<span title="Distanz und Richtung von {{Config.City.Name}}">{{.Location.DistDirFancy}}</span>){{else}}{{.Location.Name}}{{end}}
                        </td>
                    </tr>
                    <tr>
                        <th class="w-2em no-border" title="Webseite">👉</th>
                        <td class="no-border">
                        <a href="{{.MainLink.Url}}" title="{{.Name.Orig}}: {{.LinkTitle}}" target="_blank">{{.MainLink.Name}}</a>
                        </td>
                    </tr>
                    {{if .Details}}<tr><th class="w-2em no-border" title="Details">ℹ️</th><td class="no-border">{{.Details}}</td></tr>{{end}}
                    {{if .Links}}<tr>
                        <th class="w-2em no-border" title="Infos">🔗</th>
                        <td class="no-border">
                            {{range .Links}}
                            {{if .IsRegistration}}
                            <a class="tag is-primary mr-2" href="{{.Url}}" title="{{$.Name.Orig}}: {{.Name}}" target="_blank">{{.Name}}</a>
                            {{else}}
                            <a class="tag is-link is-light mr-2" href="{{.Url}}" title="{{$.Name.Orig}}: {{.Name}}" target="_blank">{{.Name}}</a>
                            {{end}}
                            {{end}}
                        </td>
                    </tr>{{end}}
                    {{if .Series}}<tr>
                        <th class="w-2em no-border" title="Serien">🔢</th>
                        <td class="no-border">
                        {{range .Series}}<a class="tag is-link is-light mr-2" href="{{BasePath .Slug}}">{{.Name.Orig}}</a>{{end}}
                        </td>
                    </tr>{{end}}
                    {{if .Tags}}<tr>
                        <th class="w-2em no-border" title="Kategorien">🏷</th>
                        <td class="no-border">
                        {{range .Tags}}<a class="tag is-link is-light mr-2" href="{{BasePath .Slug}}" data-tag="{{.Name.Sanitized}}">{{.Name.Orig}}</a>{{end}}
                        </td>
                    </tr>{{end}}
                </table>
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <a href="{{BasePath .Slug}}" title="{{.Name.Orig}}: {{.LinkTitle}}">Weitere Informationen</a>
                </span>
            </p>
        </footer>
    </div>
</div>
{{end}}