<div>
    <button id="map-show-btn" class="button is-primary">Karte einblenden</button>
    <button id="map-hide-btn" class="button is-danger is-hidden">Karte
    ausblenden</button>
    <a class="button is-light"
    href="https://docs.google.com/forms/d/e/1FAIpQLScJyKcArCSNpUnqetfbkB1xNyTiLKzteaT6gi7BPKt9ly7y6Q/viewform"
    target="_blank">Veranstaltung melden</a>
    <a class="button is-light"
    href="https://forms.gle/8LrkM7J65G3mqV4B7"
    target="_blank">Feedback</a>
</div>

<div id="map-container" data-type="map"></div>

<div id="filter-form" class="mb-5">
    <div class="field">
        <div class="control has-icons-right">
            <input id="filter-input" class="input" type="text" placeholder="Einträge filtern...">
            <span class="icon is-right">
                <button id="filter-button-cancel" class="delete"></button>
            </span>
        </div>
        <p id="filter-info" class="help is-hidden"></p>
    </div>
</div>