<footer class="footer">
    <div class="content has-text-centered">
        <p id="footer-content">
            <strong>heidelberg.run</strong>
            |
            💙-Projekt von einem Laufbegeisterten für Laufbegeisterte
            <br />
            {{if .SheetUrl}}Datenquelle: <a href="{{.SheetUrl}}" target="_blank">Google Sheets</a>.{{end}}
            Letzte Aktualisierung: <span class="timestamp">{{.TimestampFull}}</span>
        </p>
    </div>
</footer>

{{template "tail.html" .}}

