<!DOCTYPE html>
<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{.NiceTitle}}</title>
        <meta name="description" content="{{.Description}}" />
        <link rel="icon" type="image/png" href="{{BasePath "/favicon.png"}}" />
        <link rel="canonical" href="{{.Canonical}}" />
        <link rel="manifest" href="{{BasePath "/manifest.json"}}" />
        <meta name="theme-color" content="#4455F6">

        {{range .CssFiles}}
        <link rel="stylesheet" href="{{BasePath .}}"/>
        {{end}}

        {{if .BasePath}}{{else}}<script defer src="{{BasePath .Umami.Url}}" data-website-id="{{.Umami.Id}}"></script>{{end}}

        <script data-goatcounter="https://heidelberg-run.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    </head>
    <body class="has-navbar-fixed-top has-pushed-down-footer-child">
<nav class="navbar is-fixed-top is-link">
    <div class="navbar-brand">
        <a class="navbar-item" style="padding-left:1px; padding-top: 1px; padding-bottom: 1px;" href="/">
            <img style="height: 48px; max-height:48px" src="{{BasePath "images/heidelberg-run.svg"}}" alt="heidelberg.run logo">
        </a>
        <a class="navbar-item is-size-4 is-uppercase has-text-weight-bold" href="{{BasePath "/"}}">
            heidelberg.run
        </a>

        <span class="is-flex is-flex-grow-1 is-flex-direction-row-reverse p-0 is-hidden-desktop">
            <a class="navbar-item no-external" href="{{.FeedbackFormUrl}}" target="_blank">
                <span class="icon"><i class="feedback-icon"></i></span>
            </a>
        </span>

        <a role="button" class="navbar-burger has-text-white" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link {{if eq .Nav "events"}}is-active{{end}}" href="{{BasePath "/"}}">
                    Veranstaltungen
                </a>
                <div class="navbar-dropdown has-background-link has-text-white is-boxed">
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "tags"}}is-active{{end}}" href="{{BasePath "tags.html"}}" title="Kategorien">
                        Kategorien
                    </a>
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "series"}}is-active{{end}}" href="{{BasePath "series.html"}}">
                        Laufserien
                    </a>
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "events-old"}}is-active{{end}}" href="{{BasePath "events-old.html"}}">
                        Archiv
                    </a>
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "map"}}is-active{{end}}" href="{{BasePath "map.html"}}">
                        Karte
                    </a>
                    <hr class="navbar-divider has-background-link has-text-white">
                    <a class="navbar-item has-background-link has-text-white" href="https://docs.google.com/forms/d/e/1FAIpQLScJyKcArCSNpUnqetfbkB1xNyTiLKzteaT6gi7BPKt9ly7y6Q/viewform" target="_blank">
                        Neue Veranstaltung melden
                    </a>
                </div>
            </div>

            <a class="navbar-item {{if eq .Nav "groups"}}is-active{{end}}" href="{{BasePath "lauftreffs.html"}}">
                Lauftreffs
            </a>

            <a class="navbar-item {{if eq .Nav "shops"}}is-active{{end}}" href="{{BasePath "shops.html"}}">
                Shops
            </a>

            <a class="navbar-item {{if eq .Nav "parkrun"}}is-active{{end}}" href="https://www.parkrun.com.de/bahnstadtpromenade/">
                Bahnstadt parkrun
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link {{if eq .Nav "info"}}is-active{{end}}" href="{{BasePath "info.html"}}">
                    Infos
                </a>
                <div class="navbar-dropdown has-background-link has-text-white
                is-boxed">
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "support"}}is-active{{end}}" href="{{BasePath "info.html"}}">
                    Infos
                </a>
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "support"}}is-active{{end}}" href="{{BasePath "impressum.html"}}">
                        Impressum
                    </a>
                    <a class="navbar-item has-background-link has-text-white {{if eq .Nav "support"}}is-active{{end}}" href="{{BasePath "datenschutz.html"}}">
                        Datenschutz
                    </a>
                </div>
            </div>
            <a class="navbar-item is-hidden-touch no-external" href="{{.FeedbackFormUrl}}" target="_blank">
                <span class="icon"><i class="feedback-icon"></i></span>
            </a>
        </div>
    </div>
</nav>

        {{if ne .Nav "map"}}{{if .Breadcrumbs}}
        <section class="section pt-2 pb-0">
            <div class="container is-max-desktop">
                <nav class="breadcrumb">
                    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
                        {{range .Breadcrumbs}}
                        <li {{if .IsLast}}class="is-active"{{end}} itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a href="{{BasePath .Link.Url}}" itemprop="item">
                                <span itemprop="name">{{.Link.Name}}</span>
                            </a>
                            <meta itemprop="position" content="{{.Position}}" />
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </section>
        {{end}}{{end}}
