<div id="fab-wrapper">
    <button id="fab" class="modal-trigger" data-target="support-modal" data-umami-event="heart-button">
        <span class="icon" style="width: 24px; height: 24px;"><i class="heart-icon-big"></i></span>
    </button>
</div>
<div id="support-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">heidelberg.run unterstützen</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <p>
                    Wenn dir <i>heidelberg.run</i> gefällt und von Nutzen ist, kannst du die Webseite auf verschiedene
                    Arten unterstützen:
                </p>
                <b>Spread the Word!</b>
                <p>
                    Weise deine Freunde und Lauf-Kollegen auf <i>heidelberg.run</i> hin, teile Links zu
                    <i>heidelberg.run</i> auf Social Media oder verlinke die Seite auf deiner Webseite oder in deinem
                    Blog.
                </p>
                <b>Melde neue Events</b>
                <p>
                    Kennst du einen Lauf, der noch nicht in unserem Kalender steht?

                    Trag ihn hier ein und hilf mit, die Lauf-Community run um
                    Heidelberg komplett zumachen!

                    Du findest <a class="close"
                        href="https://docs.google.com/forms/d/e/1FAIpQLScJyKcArCSNpUnqetfbkB1xNyTiLKzteaT6gi7BPKt9ly7y6Q/viewform"
                        target="_blank">hier das Formular</a>.
                </p>
                <b>Mach Verbesserungsvorschläge</b>
                <p>
                    Du hast einen Verbesserungsvorschlag, eine Korrektur oder eine Idee für ein
                    neues Feature? <a class="close" href="https://forms.gle/8LrkM7J65G3mqV4B7">Melde dich gerne</a>.
                </p>
                <b>Werfe ein paar Euros in den Hut</b>
                <p>
                    Die Idee für diese Seite und der Code kommt ursprünglich aus Freiburg.
                    Genauer von Florian Pigorsch mit <a href="https://freiburg.run">freiburg.run</a>. Dankenswerterweise
                    hat Florian seinen Code als Open Source veröffentlicht und uns
                    erlaubt auch für <i>heidelberg.run</i> zu verwenden.
                    Wenn du Florian unterstützen möchtest,
                    geht das am einfachsten per Paypal <a href="https://paypal.me/FPigorsch"
                        target="_blank">paypal.me/FPigorsch</a>.
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button">Schließen</button>
        </footer>
    </div>
</div>