name: Publish to GitHub Pages

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  schedule:
     - cron: "0 0 * * *"  # daily at midnight

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Create config.json
      run: | 
          cat <<EOF > config.json
          {
            "sheet_id": "${{ secrets.SHEET_ID }}",
            "api_key": "${{ secrets.GOOGLE_API_KEY }}"
          }
          EOF
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
          go-version: '1.24'
    - name: Build
      run: 	go run cmd/generate/main.go -config config.json -out .out -hashfile .hashes
    - name: Upload static files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: .out/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4